<h1>過去問</h1>
<table>
<tr>
            <th>画像</th>
            <th>記事</th>
            <th>投稿者</th>
            <th>aaaaa</th>
          </tr>
          <%= form_with(model: @exam, url: "/exams/answer", local: true) do |form| %> 
          <tr>
            <td><%= @exam.year %></td>
            <td><%= @exam.law %></td>
            <td><%= @exam.question %></td>
            <td><%= @exam.answer %></td>
         </tr>
         <% end %>
            </table>