<h1>過去問出題</h1>
<br><br>
<h3>出題年：<%= @exam.year %>年</h3>
<br><br>
<h3>分野名：<%= @exam.law %></h3>
<br><br>
<h3>問題：</h3>
<h3><%= @exam.question %></h3>          
<br><br>
          
<div id="output"></div>
<br><br>
<script language="javascript" type="text/javascript">
  function OnButtonClick() {
    target = document.getElementById("output");
    target.innerHTML = "<h3>解答：</h3><h3><%= @exam.answer %></h3>";
  }
  
</script>
<input type="button" value="解答を見る" onclick="OnButtonClick();"/><br />
<br />

  <div class= "margin col-md-9 col-xs-12">  
    <% if @review.present? %>
      <%= link_to '不正解問題から削除する', review_path(id: @review.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to '不正解問題に登録する', reviews_path(exam_id: @exam.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  </div>

<div class= "margin">
  <input type="button" onclick="location.href='/exams/show'"value="次の問題へ">
</div>




          