<!DOCTYPE html>
<html>
  <head>
    <title>GraduateExam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body topmargin="0">
    <header>
      <ul class="header">
        <li><a href="/">ホーム</a></li>
        <li><a href="/exams/show">過去問出題</a></li>
        <li><a href="/admin">管理者用ページ</a></li>
      </ul>
    </header>
    
    <% if user_signed_in? %>
    　<%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <% end %>
    <%= yield %>
    <footer>
      <p>DIVE INTO CODE　2018年８月期　K.Sato</p>
    </footer>
  </body>
</html>
